<p id="notice"><%= notice %></p>
          <ul class="nav navbar-nav">
           <% Menu.roots.each do |menu| %>
            <li><%= link_to menu.name, '../'+menu.url, class: ("active" if @menu.root == menu)  %></li>
            <% end %>
           	<ul class="dropdown-menu">
              <%= render 'submenu', menus: @menu.root.descendants.arrange %>
            <ul>
              <ul>
<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @menu.url %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @menu.desc %>
</p>

<p>
  <strong>Ancestry:</strong>
  <%= @menu.ancestry %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
